* {
  box-sizing: border-box;
}

a {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

a:link { color: blue; }
a:visited { color: red; }
a:hover { color: green; }
a:active {color: pink; }

.box {
  width: 400px;
  background: #ccc;
  padding: 20px;
  border: 10px solid black;
  margin: auto;
}

.align-center {
  text-align: center;
}

p, h, ul, ol {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: black;
}

.background {
    background-color: #FFA500;
}

img {
  width: 500px;
  border: 1px solid black;
  display: block;
  margin: 0 auto;
}

main {
  background-color: #F0FFFF;
  padding: 20px;
  width: 90%;
}

header, footer {
  background-color: #87CEFA;
  padding: 20px;
  width: 90%;
}

body {
  margin: 0 auto;
  width: 36%;
  background-color: #FFE4C4;
}

